@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,700;1,400&display=swap");

/* font */
$cabin: "Cabin", "Helvetica Neue", sans-serif;
/* font weight options: 400, 700 */

/* colors */
$grey: rgba(255, 255, 255, 0.5);

/* sizes */
$h1: xx-large;
$h2: x-large;
$h3: large;
$h4: medium;
$p: small;
